* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  
}

.header {
  background-color: #222222;
  height: 75px;
}

.header__inside {
 
  height: 74px;
  display: flex;
  align-items: center;
}

.block {
  
  width: 44px;
  height: 38px;
}

.img__main {
  background-image: url(../Lesson-1/img/h1.svg);
  display: block;
  height: 100%;
}

.img__catalog {
  background-image: url(../Lesson-1/img/h4.svg);
  display: block;
  height: 100%;
}

.img__basket {
  background-image: url(../Lesson-1/img/h5.svg);
  display: block;
  height: 100%;  
}


.block_1 {
  
  width: 26px;
  height: 26px;
  margin-left: 41px;
}

.block_2 {
  
  width: 780px;
  height: 26px;
  margin-left: 10px;
}
.block_3 {
  
  width: 32px;
  height: 23px;
  margin-left: 70px;
}
.block_4 {
 
  width: 30px;
  height: 30px;
  margin-left: 33px;
  
}
.block_5 {
  
  width: 30px;
  height: 30px;
  margin-left: 33px;

}

.button {
  width: 100%;
  height: 25px;
}

.top {
  height: 733px;
  background: #F1E4E6;
}

.top__main {
  padding-bottom: 764px;
  border: 1px solid #000;
  position: relative;
  display: flex;
}

.top__main__left {
  position: absolute;
  right: 560px;
  border: 1px solid #000;
}

.top__main__right {
  border: 1px solid #000;
}

.rectangle {
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
  width: 12px;
  padding-bottom: 92px;
  top: 290px;
  left: 640px;
  position: absolute;
}

.top__text {
  border: 1px solid blue;
  position: absolute;
  top: 290px;
  left: 670px;
  padding-bottom: 92px;
  width: 500px;
}

.top__text__first {

font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 58px;
color: #222222;
font-family: 'Lato', sans-serif;
}

.top__text__second {
  font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 40px;
color: #222222;
font-family: 'Lato', sans-serif;
}

.text__color {
  color: #F16D7F;
}

.middle {
  border: 1px solid blue;
  height: 533px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.middle__block__1 {
  width: 360px;
  height: 260px;
  border: 1px solid blue;
  margin-top: 65px;
  position: relative;
  
  
}

.middle__block__2 {
  width: 1140px;
  border: 1px solid blue;
  height: 180px;
  margin-top: 25px;
  position: relative;
}

.text__inside {
  position: absolute;
  top: 105px;
  text-align: center;
  width: 380px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.text__inside__bottom {
  position: absolute;
  top: 70px;
  left: 500px;
  width: 380px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.big__text {
  font-family: 'Lato', sans-serif;
  width: 700px;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.button__left {
  background-image: url(../Lesson-1/img/middle1.svg);
  display: block;
  height: 100%;
}

.button__left:hover {
  background-image: url(../Lesson-1/img/middle1_light.svg);
}

.button__middle {
  background-image: url(../Lesson-1/img/middle2.svg);
  display: block;
  height: 100%;
}

.button__middle:hover {
  background-image: url(../Lesson-1/img/middle2_light.svg);
}

.button__right {
  background-image: url(../Lesson-1/img/middle3.svg);
  display: block;
  height: 100%;
}

.button__right:hover {
  background-image: url(../Lesson-1/img/middle3_light.svg);
}

.button__bottom {
  background-image: url(../Lesson-1/img/middle4.svg);
  display: block;
  height: 100%;
}

.button__bottom:hover {
  background-image: url(../Lesson-1/img/middle4_light.svg);
}

.middle__text {
  border: 1px solid red;
  width: 300px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.middle__text__2{
  margin-top: 6px;
}

.middle__text__inside {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.middle__text__inside__2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.cards {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}



.card {
  width: 360px;
  height: 580px;
  margin-top: 57px;
  position: relative;

}

.button__card__1 {
  background-image: url(../Lesson-1/img/img1.svg);
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__2 {
  background-image: url(../Lesson-1/img/img2.svg);
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__3 {
  background-image: url(../Lesson-1/img/img3.svg);
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__4 {
  background-image: url(../Lesson-1/img/img4.svg);
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__5 {
  background-image: url(../Lesson-1/img/img5.svg);
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__6 {
  background-image: url(../Lesson-1/img/img6.svg);
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.card:hover {
  box-shadow: 0px 0px 10px black;
 
}

.text__card {
  padding-left: 17px;
  position: absolute;
  top: 420px;
}

.text__card__style1 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 12px;
}

.text__card__style2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-bottom: 18px;
}

.text__card__style3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.button_bottom {
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  height: 50px;
  border: 1px solid #000;
  margin-top: 48px;
  
}

.button_bottom_img {
  background-image: url(../Lesson-1/img/Button_bottom.svg);
  display: block;
  height: 100%;
}

.bottom__part {
background-color:  #222224;
height: 341px;
margin-top: 95px;
}

.bottom__main {
  display: flex;
  justify-content: space-between;
}

.bottom__main__part1 {
  width: 360px;
  height: 170px;
  border: 1px solid red;
  margin-top: 103px;
  
} 

.img__bottom__1 {
  margin-left: 160px;
}

.style__text_bottom__1 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 28px;
  text-align:  center;
}

.style__text_bottom__2 {
  width: 360px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  margin-top: 16px;
  text-align:  center;
}