* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  
}


.header {
  background-color: #222222;
  height: 75px;
}

.header__inside {
 
  height: 74px;
  display: flex;
  align-items: center;
}

.block {
  
  width: 44px;
  height: 38px;
}

.img__main {
  background-image: url(../Lesson-1/img/h1.svg);
  display: block;
  height: 100%;
}

.img__catalog {
  background-image: url(../Lesson-1/img/h4.svg);
  display: block;
  height: 100%;
}

.img__basket {
  background-image: url(../Lesson-1/img/h5.svg);
  display: block;
  height: 100%;  
}

.block_1 {
  
  width: 26px;
  height: 26px;
  margin-left: 41px;
}

.block_2 {
  
  width: 780px;
  height: 26px;
  margin-left: 10px;
}
.block_3 {
  
  width: 32px;
  height: 23px;
  margin-left: 70px;
  position: relative;
}

.block_3:hover .menu{
  display: flex;
}
.block_4 {
 
  width: 30px;
  height: 30px;
  margin-left: 33px;
  
}
.block_5 {
  
  width: 30px;
  height: 30px;
  margin-left: 33px;

}

.button {
  width: 100%;
  height: 25px;
}

.top {
  height: 733px;
  background: #F1E4E6;
}

.menu {
  width: 187px;
  padding-bottom: 100px;
  position: absolute;
  left: 170px;
  top: 50px;
  background-color: #FFFFFF;
  flex-direction: column;
 

}

.menu__img {
  background-image: url(../Lesson-1/img/h3.svg);
  display: block;
  height: 100%;
  
  
}


.menu__link {
  display: block;
  margin-top: 12px;
  margin-left: 55px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.menu__link:hover {
  color: #F16D7F;
}


.menu__text {
  margin-left: 34px;
  margin-top: 37px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}



.menu__main {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 24px;
  margin-left: 34px;
  

  
}

.top__main {
  padding-bottom: 764px;
  position: relative;
  display: flex;
}


.top__main__left {
  position: absolute;
  right: 560px;
}



.rectangle {
  background-color: #F16D7F;
  width: 12px;
  padding-bottom: 92px;
  top: 290px;
  left: 640px;
  position: absolute;
}

.top__text {
  position: absolute;
  top: 290px;
  left: 670px;
  padding-bottom: 92px;
  width: 500px;
}

.top__text__first {

font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 58px;
color: #222222;
font-family: 'Lato', sans-serif;
}

.top__text__second {
  font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 40px;
color: #222222;
font-family: 'Lato', sans-serif;
}

.text__color {
  color: #F16D7F;
}

.middle {
  height: 533px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.middle__block__1 {
  width: 360px;
  height: 260px;
  margin-top: 65px;
  position: relative;
  
  
}

.middle__block__2 {
  width: 1140px;
  height: 180px;
  margin-top: 25px;
  position: relative;
}

.text__inside {
  position: absolute;
  top: 105px;
  text-align: center;
  width: 380px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}

.text__inside__bottom {
  position: absolute;
  top: 70px;
  left: 500px;
  width: 380px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}

.big__text {
  font-family: 'Lato', sans-serif;
  width: 700px;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.button__left {
  background-image: url(../Lesson-1/img/middle1.svg);
  display: block;
  height: 100%;
}

.button__left:hover {
  background-image: url(../Lesson-1/img/middle1_light.svg);
}

.button__middle {
  background-image: url(../Lesson-1/img/middle2.svg);
  display: block;
  height: 100%;
}

.button__middle:hover {
  background-image: url(../Lesson-1/img/middle2_light.svg);
}

.button__right {
  background-image: url(../Lesson-1/img/middle3.svg);
  display: block;
  height: 100%;
}

.button__right:hover {
  background-image: url(../Lesson-1/img/middle3_light.svg);
}

.button__bottom {
  background-image: url(../Lesson-1/img/middle4.svg);
  display: block;
  height: 100%;
}

.button__bottom:hover {
  background-image: url(../Lesson-1/img/middle4_light.svg);
}

.middle__text {
  width: 300px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.middle__text__2{
  margin-top: 6px;
}

.middle__text__inside {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.middle__text__inside__2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.cards {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}



.card {
  width: 360px;
  height: 580px;
  margin-top: 57px;
  position: relative;
  background-color: #F8F8F8;
}

.add-box {
  display: none;
  position: absolute;
  justify-content: center;
  top: 189px;
  width: 100%;
}

.add {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #fff;
  text-decoration: none;
  box-shadow: 8px #fff;
  
}



.add:hover {
  box-shadow: 0 0 10px #fff;
}

.add-txt {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

}

.card:hover .card__hover {
  filter: brightness(50%);
}

.card:hover .add-box {
  display: flex;
}

.button__card__1 {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__2 {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__3 {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__4 {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__5 {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__6 {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__7 {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__8 {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__9 {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__10 {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__11 {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.button__card__12 {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}

.card:hover {
  box-shadow: 0px 0px 3px black;
 
}

.text__card {
  padding-left: 17px;
  position: absolute;
  top: 420px;
}

.text__card__style1 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 12px;
}

.text__card__style2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-bottom: 18px;
}

.text__card__style3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.button_bottom {
  margin-left: auto;
  margin-right: auto;
  width: 212px;
  height: 48px;
  margin-top: 48px;
  
}

.button_bottom_img {
  background-image: url(../Lesson-1/img/Button__Browse.svg);
  display: block;
  height: 100%;
}

.button_bottom_img:hover {
  background-image: url(../Lesson-1/img/Button_bottom.svg);
}

.bottom__part {
background-color:  #222224;
height: 341px;
margin-top: 95px;
}

.bottom__main {
  display: flex;
  justify-content: space-between;
}

.bottom__main__part1 {
  width: 360px;
  height: 170px;
  margin-top: 103px;
  position: relative;
  
} 

.img__bottom__1 {
  margin-left: 160px;
}

.style__text_bottom__1 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 28px;
  text-align:  center;
}

.style__text_bottom__2 {
  width: 360px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  margin-top: 16px;
  text-align:  center;
}

.style__text_bottom__3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 23px;
  position: absolute;
  left: 105px;
  

}

.style__text_bottom__4 {
  width: 360px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  margin-top: 16px;
  position: absolute;
  top: 90px;
  left: 1px;
}

.container__2 {
  max-width: 1600px;
  margin: 0 auto;
  
}

.footer__background {
  background-image: url(../Lesson-1/img/Footer.svg);
  height: 450px;
  background-repeat: no-repeat;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__block__left {
  width: 360px;
  height: 250px;
  margin-top: 90px;
}

.footer__block__right {
  width: 360px;
  height: 250px;
  margin-top: 150px;
  margin-right: 110px;
}

.img_footer {
  margin-left: 130px;
}

.text__footer {
  width: 350px;
  text-align: center;
  margin-top: 35px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

.text__footer__2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
    text-align: center;

  color: #222224;
}

.text__footer__3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: #222224;
}

.input {
  height: 45px;
  width: 240px;
  border-radius: 15px 0px 0px 15px;
  padding-left: 15px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.footer_button {
  background-image: url(../Lesson-1/img/footer_button.svg);
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
}

.footer__placeholder {
  display: flex;
  margin-top: 20px;
  position: relative;
}

.footer_button__3 {
  background-image: url(../Lesson-1/img/Subscribe.svg);
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  width: 85px;
  height: 36px;
  position: absolute;
  top: 18px;
  right: 1px;
}

.bottom_end {
  background-color: #222224;
  height: 79px;
}

.bottom__content {
  display: flex;
  justify-content: space-between;
}

.bottom__content__left {
  width: 330px;
  height: 20px;
  margin-top: 30px;
}

.bottom__content__text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;

}

.bottom__content__right {
  height: 32px;
  width: 150px;
  margin-top: 24px;
  margin-right: 15px;
  position: relative;
}

.facebook {
  background-image: url(../Lesson-1/img/facebook.svg);
  display: block;
  width: 32px;
  height: 32px;
}

.instagram {
  background-image: url(../Lesson-1/img/inst.svg);
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  margin-left: 39px;
  bottom: 0px;
}

.instagram:hover {
background-image: url(../Lesson-1/img/inst__2.svg);
}

.P {
  background-image: url(../Lesson-1/img/P.svg);
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  margin-left: 79px;
  bottom: 0px;
}

.twitter {
  background-image: url(../Lesson-1/img/twitt.svg);
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  margin-left: 119px;
  bottom: 0px;  
}

.top__catalog__background {
  background-color: #F8F3F4;
  height: 148px;
}

.top__catalog {
  display: flex;
  justify-content: space-between;
}

.top__catalog__left {
  width: 194px;
  margin-top: 60px;
}

.top__catalog__right {
  width: 209px;
  padding-bottom: 17px;
  margin-top: 65px;
  display: flex;
}

.top__catalog__text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;

}

.top__catalog__text__right {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
  padding: 0px 4px 0px 4px;

}

.top__catalog__text__right:hover {
  color: #F16D7F;
}



.main__page__left {
  margin-top: 51px;
  margin-left: 15px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  display: flex;
  position: relative;
}

.page__button__left {
  width: 10px;
  height: 10px;
  border: 1px solid red;
  margin-left: 10px;
  margin-top: 50px;
 
}

.menu__size__left {
  width: 360px;
  height: 531px;
  border: 1px solid #000;
  position: absolute;
  z-index: 2;
  background-color: #FFFFFF;
  left: 188px;
  top: 300px;
}

.main__page__right{
  margin-left: 310px;
  display: flex;
  margin-top: 51px;
  position: relative;
  z-index: 1;

}

.menu__size {
  width: 79px;
  height: 103px;
  background-color: #FFFFFF;
  position: absolute;
  left: 160px;
  top: 24px;
  z-index: 0;

}

.input__menu {
  margin: 6px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}



.page__1 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-left: 20px;
  border: 1px solid #000;
}

.page__button {
 width: 10px;
 height: 10px;
 border: 1px solid red;
 margin-left: 10px;
 margin-top: 4px;

}

.main__page {
  display: flex;
}

.pages {
  width: 283px;
  height: 43px;
  border: 1px solid #000;
  margin-top: 49px;
  justify-content: center;
  margin-left: 415px;
  margin-bottom: 97px;
}

.top__background {
  background-color: #F7F7F7;
}

.top__product {
height: 777px;
display: flex;
justify-content: space-between;
max-width: 1600px;
position: relative;
margin-bottom: 600px;
}


.top__center {
  width: 597px;
  height: 724px;
  margin-top: 11px;

}

.pointer__left {
  display: block;
  background-color: rgba(42, 42, 42, 0.15);
  margin-top: 365px;
  height: 35px;
  padding: 12px 17px 0px 17px;
}

.pointer__right {
  display: block;
  background-color: rgba(42, 42, 42, 0.15);
  margin-top: 365px;
  height: 35px;
  padding: 12px 17px 0px 17px;
}


.middle_product {
  width: 100%;
  position: absolute;
  top: 710px;
  left: 190px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 129px;
}

.middle_product_text_1 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-top: 65px;

  padding-bottom: 12px;
}

.middle_product_text_2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-top: 12px;

}

.middle_product_text_3 {
  width: 555px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-top: 48px;
  margin-left: 300px;
  margin-bottom: 32px;
  
}

.middle_product_text_4 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 65px;
}

.middle_product_block {
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  margin-left: 540px;
}

.middle_product_block_2 {
  border: 1px solid #EAEAEA;
  width: 641px;
  margin-left: 250px;
  margin-bottom: 65px;
}

.middle_product_block_3 {
  display: flex;
  justify-content: center;
}

.middle_product_text_5 {
  padding: 0px 9px 0px 23px;
}

.link_middle_product {
  background-image: url(../Lesson-1/img/Vector.svg);
  display: block;
  width: 10px;
  height: 5px;
  margin-top: 7px;
  margin-bottom: 49px;
}

.link_middle_product_button {
  background-image: url(../Lesson-1/img/Add_to_Cart.svg);
  display: block;
  width: 212px;
  height: 49px;
  margin-left: 465px;
  margin-bottom: 65px;
}

.bottom_block_product {
  height: 128px;
}
.shop_middle {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.shop_middle_left {
  width: 652px;
  border: 1px solid #000;
  height: 800px;
}

.shop_middle_right {
  width: 360px;
  border: 1px solid #000;
  height: 800px;
}

.card_shop_1 {
  display: flex;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 652px;
}

.number_inside_card {
  position: absolute;
  right: 190px;
  border: 1px solid #EAEAEA;
  padding: 0px 15px 0px 15px;
  top: 222px;
}

.block_shop {
  height: 40px;
}

.shop_image_1 {
width: 262px;
height: 306px;
}

.link_card_shop {
  display: flex;
  text-decoration: none;

}

.text_shop_1 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-top: 22px;
  margin-left: 31px;
  margin-bottom: 36px;
}

.text_shop_2 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding: 6px 0px 0px 32px;

}

.text_shop_2_2 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #F16D7F;
}

.link_card_shop_inside {
  display: flex;
}

.botom_shop_buttons {
  display: flex;
  justify-content: space-between;
}

.left_shop_button {
  display: block;
  width: 235px;
  height: 50px;
}

.right_shop_button {
  display: block;
  width: 235px;
  height: 50px;
}
 
 